<?xml version='1.0' encoding='utf-8'?>
<widget id="com.khashabawy.prayer.counter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PrayerCounter</name>
    <description>
        A simple application to help remember number of prayer prostrations
    </description>
    <author email="info@khashabawy.com" href="http://khashabawy.com">
        Khashabawy.com
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <!-- Default application icon -->
    <icon src="www/img/icon.png" />
    <!--
        Default icon should work, but cordova don't overwrite
        the default on all densities
    -->
    <icon src="www/img/icon.png" platform="android" density="ldpi" />
    <icon src="www/img/icon.png" platform="android" density="mdpi" />
    <icon src="www/img/icon.png" platform="android" density="hdpi" />
    <icon src="www/img/icon.png" platform="android" density="xhdpi" />       
    
</widget>
